<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azore.compustore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoriasActivity" />
        <activity android:name=".ProductosActivity" />
        <activity android:name=".EnsamblesActivity" />
        <activity android:name=".ClientesActivity" />
        <activity android:name=".OrdenesActivity" />
        <activity android:name=".ReportesActivity" />
        <activity
            android:name=".Month_sales_main"
            android:label="Card View"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pop"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".PopUp_products"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".add_stock_products"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".modify_products"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".delete_confirmation"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".PopUp_Add_Assemblies"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".add_stock_from_ensambles"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".PopUp_Ensambles"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".PopUp_Menu_Modify_Assembly"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".PopUp_modif_ensamble"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".add_assemblies" />
        <activity android:name=".modif_ensamble" />
        <activity
            android:name=".Pop_up_customers"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".PopUp_add_product_Ensamble"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".PopUp_add_Ensamble_Order"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".Add_Product_to_Ensamble" />
        <activity
            android:name=".modify_customers"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".add_order" />
        <activity
            android:name=".Pop_Up_ordenes_N1"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".pop_menu_orders_modif_N3"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".confirmation_status_order_N2"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".modifi_qty_ensamblie_N4"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Modif_Ordenes_N2" />
        <activity android:name=".Add_Assembly_to_Order" />
        <activity
            android:name=".PopUp_add_Ensamble_order_modif"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Add_assembly_to_order_modif" />
        <activity android:name=".Reportes_Missing_Products" />
        <activity android:name=".info_month_sales" />
        <activity android:name=".ensambles_in_month"></activity>
        <activity android:name=".reportes_simulador"></activity>
    </application>

</manifest>